/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.planet-name {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  display: block;
  color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
}

.stinger {
  font-style: italic;
  color: rgb(188, 188, 188);
  font-family: Verdana, sans-serif;
}

p {
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.planet-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: black;
}

.planet-scene {
  flex-grow: 1;
  position: relative;
}

.planet-sidebar {
  flex-grow: 1;
  padding: 20px;
  background: #222;
  color: white;
}

.planet-info {
  margin-top: 40px;
  margin-left: 70px;
  p {
    color: rgb(158, 158, 158);
    text-align: left;
    font-family: Verdana, sans-serif;
  }
}

.sidebar-visibility-button {
  position: absolute;
  bottom: 3%;
  right: 0;
  width: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #222;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  cursor: pointer;

  .arrow-icon {
    max-width: 100%;
    display: block;
  }
}

.highlighted {
  color: rgb(255, 255, 255);
}

.information-box {
  background-color: rgb(45, 45, 45);
  display: block;
  border-radius: 15px;
  overflow-y: auto;
  text-align: center;
  max-height: 93vh;
}

.wiki-excerpt {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 1px;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  line-height: 150%;
}

.previous-button {
  background-image: url("back-arrow-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #707070;
  border-radius: 8px;
  border-style: outset;

  transition-duration: 0.3s;
  transition: transform 0.5s ease;
  opacity: 0.5;

  width: 40px;
  height: 40px;

  margin: 30px;
}

.previous-button:hover {
  background-color: rgb(54, 54, 54);
  transform: translateY(-5px);
}

.next-button {
  background-image: url("forward-arrow-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #707070;
  border-radius: 8px;
  border-style: outset;

  transition-duration: 0.3s;
  transition: transform 0.5s ease;
  opacity: 0.5;

  width: 40px;
  height: 40px;

  margin: 30px;
}

.next-button:hover {
  background-color: rgb(54, 54, 54);
  transform: translateY(-5px);
}

.solid-rule {
  margin-left: 100px;
  margin-right: 100px;
}
