.planetApp {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: black;
  overflow: hidden;
}

.planetScene {
  flex-grow: 1;
  position: relative;
}

.planetSidebar {
  flex-grow: 1;
  width: 55vw;
  padding: 20px;
  background: #222;
  color: white;
}
