.planet-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: black;
  overflow: hidden;
}

.planet-scene {
  flex-grow: 1;
  position: relative;
}

.planet-sidebar {
  flex-grow: 1;
  width: 55vw;
  padding: 20px;
  background: #222;
  color: white;
}
